<div class="entity-page entity-page--sticky-pagination">
    <app-page-header
            [eyebrow]="'Receitas'"
            [title]="'Receitas'"
            [description]="'Consulte, edite e acompanhe as receitas cadastradas.'">
        <button
                type="button"
                ngProjectAs="[page-actions]"
                class="btn btn-primary"
                (click)="recipeActionsService.goToNew()">
            <span>{{ 'recipe.home.createLabel' | translate }}</span>
        </button>
    </app-page-header>

    @if (recipes().length > 0) {
        <section class="entity-card entity-list-card entity-list-card--fill">
            <div class="row justify-content-center flex-grow-1">
                <div class="table-responsive">
                    <table class="table table-hover entity-list-table align-middle mb-0">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">
                                <span>{{ 'global.field.name' | translate }}</span>
                            </th>
                            <th scope="col" class="text-center">
                                <span>Acoes</span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>

                            @for (recipe of recipes(); track recipe.id) {

                                <tr [class.notActive]="!recipe.deletedAt">

                                    <td [attr.data-label]="'global.field.name' | translate">
                                        <span class="entity-list-table-title">{{ recipe.name }}</span>
                                    </td>

                                    <td class="text-center entity-list-table-actions-cell" data-label="Acoes">
                                        <div class="list-actions">
                                            <button
                                                    type="button"
                                                    title="{{ 'entity.action.view' | translate }}"
                                                    (click)="goToView(recipe)"
                                                    class="btn list-action list-action-view">
                                                <span class="list-action-icon">
                                                    <fa-icon icon="list" [fixedWidth]="true"></fa-icon>
                                                </span>
                                                <span>{{ 'entity.action.view' | translate }}</span>
                                            </button>

                                            <button
                                                    type="button"
                                                    title="{{ 'entity.action.edit' | translate }}"
                                                    (click)="goToEdit(recipe)"
                                                    class="btn list-action list-action-edit">
                                                <span class="list-action-icon">
                                                    <fa-icon icon="edit" [fixedWidth]="true"></fa-icon>
                                                </span>
                                                <span>{{ 'entity.action.edit' | translate }}</span>
                                            </button>

                                            <button
                                                    type="button"
                                                    title="{{ 'entity.action.delete' | translate }}"
                                                    (click)="delete(recipe)"
                                                    class="btn list-action list-action-delete">
                                                <span class="list-action-icon">
                                                    <fa-icon icon="times" [fixedWidth]="true"></fa-icon>
                                                </span>
                                                <span>{{ 'entity.action.delete' | translate }}</span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>

                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </section>

        <div class="entity-pagination-bar d-flex justify-content-between align-items-center px-3">
            <span class="text-body-secondary small">
                Mostrando {{ itemRangeStart() }}-{{ itemRangeEnd() }} de {{ totalItems() }}
            </span>

            <ngb-pagination
                    [collectionSize]="totalItems()"
                    [page]="page()"
                    [pageSize]="itemsPerPage"
                    [maxSize]="5"
                    [ellipses]="true"
                    [boundaryLinks]="true"
                    (pageChange)="navigateToPage($event)">
            </ngb-pagination>
        </div>
    } @else {
        <section class="entity-card entity-list-card">
            <div class="text-center text-body-secondary py-5">
                {{ 'recipe.notFound' | translate }}
            </div>
        </section>
    }
</div>
