<div class="d-grid gap-4">
    <app-page-header
            [eyebrow]="'Receitas'"
            [title]="'Receitas'"
            [description]="'Consulte, edite e acompanhe as receitas cadastradas.'">
        <button
                type="button"
                ngProjectAs="[page-actions]"
                class="btn btn-primary"
                (click)="recipeActionsService.goToNew()">
            <span>{{ 'recipe.home.createLabel' | translate }}</span>
        </button>
    </app-page-header>

    <div class="row justify-content-center">
        <div class="card-body">
            @if (recipes().length > 0) {
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">
                                <span>{{ 'global.field.name' | translate }}</span>
                            </th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>

                            @for (recipe of recipes(); track recipe.id) {

                                <tr [class.notActive]="!recipe.deletedAt">

                                    <td>{{ recipe.name }}</td>

                                    <td>
                                        <div class="d-flex flex-wrap justify-content-end gap-2">
                                            <button
                                                    type="button"
                                                    title="{{ 'entity.action.view' | translate }}"
                                                    (click)="goToView(recipe)"
                                                    class="btn btn-primary btn-sm d-inline-flex align-items-center gap-2 px-3">
                                                <fa-icon icon="list-alt" [fixedWidth]="true"></fa-icon>
                                                <span>{{ 'entity.action.view' | translate }}</span>
                                            </button>

                                            <button
                                                    type="button"
                                                    title="{{ 'entity.action.edit' | translate }}"
                                                    (click)="goToEdit(recipe)"
                                                    class="btn btn-secondary btn-sm d-inline-flex align-items-center gap-2 px-3">
                                                <fa-icon icon="edit" [fixedWidth]="true"></fa-icon>
                                                <span>{{ 'entity.action.edit' | translate }}</span>
                                            </button>

                                            <button
                                                    type="button"
                                                    title="{{ 'entity.action.delete' | translate }}"
                                                    (click)="delete(recipe)"
                                                    class="btn btn-outline-danger btn-sm d-inline-flex align-items-center gap-2 px-3">
                                                <fa-icon icon="times" [fixedWidth]="true"></fa-icon>
                                                <span>{{ 'entity.action.delete' | translate }}</span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>

                            }

                        </tbody>
                    </table>
                </div>
            } @else {
                <div class="text-center text-body-secondary py-5">
                    {{ 'recipe.notFound' | translate }}
                </div>
            }
        </div>
    </div>
</div>
